<div class="container">
    <div class="row row-centered">
        <div class="col-xs-3 col-centered"><img src="images/logo.png" alt="logo"/></div>

    </div>
    <div class="row row-centered">
        <div class="col-xs-3 col-centered"><input type="text" /></div>

    </div>
    <div class="row row-centered">
        <div class="col-xs-2 col-centered">  <button type="button" class="btn btn-default">Пошук Google</button></div>

    </div>
</div>

